.LP {
  margin-bottom: 2rem;
  background-image: url("../../assets/Header 1.png");
  background-size: 100% 75%;
  background-repeat: no-repeat;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    @media (max-width: 900px) {
      width: 90%;
  }

    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 5.1rem;
      letter-spacing: 0.2rem;
      color: #22aea5;

      
      
    }

    h2 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.4rem;
      letter-spacing: 0.4rem;
      color: black;
      padding-top: 2rem;
    }

    p {
      padding:2rem 0;
      font-weight: 500;
      font-size: 2rem;
      color: white;
      width: 50%;
      text-align: justify;
      letter-spacing: 0.2rem;

      &:last-child {
        color: black;
        padding:0;
        width: 80%;
      }

      @media (max-width: 900px) {
        width: 100%;
    }
      

    }
  }
}

