.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
    flex-shrink: 0;
    flex-grow: 1;

    &__Item {
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        padding: 1rem;
        font-weight: 700;
        

        &:hover {
            color:#22aea5;
            text-decoration: none;
        }
    }

    @media (max-width: 1200px) {
            display: none;
    }
}

.sideNav {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 0;

  

    & li {
        display: block;
        text-decoration: none;
        
        width: 100%;
        padding: 1rem 0 ;
    }

    &__Item {
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-weight: 700;

    }
}

